# ============================================================
# PYTHON CACHE
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/


# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================

.venv/
venv/
env/
ENV/


# ============================================================
# GIT
# ============================================================

.git/
.gitignore
.gitattributes


# ============================================================
# IDE / EDITOR
# ============================================================

.vscode/
.idea/


# ============================================================
# OPERATING SYSTEM
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# TEST / COVERAGE FILES
# ============================================================

tests/
.coverage
htmlcov/
coverage.xml


# ============================================================
# JUPYTER / NOTEBOOKS
# ============================================================

notebooks/
.ipynb_checkpoints/


# ============================================================
# LOCAL LOGS
# ============================================================

*.log
logs/


# ============================================================
# ENVIRONMENT FILES
# ============================================================

.env
.env.local


# ============================================================
# TRAINING / EXPERIMENT DATA
# ============================================================

data/
mlruns/


# ============================================================
# TRAINING-ONLY ARTIFACTS
# ============================================================

artifacts/eda/
artifacts/segmentation/

artifacts/churn/customer_churn_dataset.csv
artifacts/clv/customer_clv_dataset.csv


# ============================================================
# TEMPORARY FILES
# ============================================================

*.tmp
*.temp

mlflow.db
mlflow.db-shm
mlflow.db-wal
mlartifacts/

mlruns/